:root {
    --blanc: #ffffff;
    --noir: #000000;

    --couleur--fond: #D3D5D9;

    --couleur-classique--1: #2f6fc4;
    --couleur-classique--2: #ff914d;
    --couleur-classique-3: #6fc24b;

    --couleur-dark--1: #043474;
    --couleur-dark--2: #5994e1;

    --color-light--1: #aaa;
    --color-light--3: rgb(214, 222, 224);
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var( --couleur--fond);

    font-family: 'Lato', sans-serif;
    color: var(--couleur-classique--1);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;

    padding: 3rem;

    display: flex;
}

#formulaire_connexion {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.titre {
    font-family: 'Nerko One', cursive;
    font-size: 7em;
    color: var(--couleur-classique--2);
}

.fond-bleu {
    background-color: var(--couleur-classique--1);
}

#container-image-accueil {
    padding-right: 0;
    padding-left: 0;
}

#row-checkbox {
    padding-top: 2vh;
    padding-right: 2.5vh;
}

.sol {
    background-color: var(--couleur-classique-3);
    height: 7vh;
}

.input-adresse-mail, .input-mot-de-passe {
    box-shadow: 1px 1px 1px #50555F;
}

.btn-light {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #50555F;
}

#formulaire_connexion {
    padding-top: 90px;
    padding-bottom: 140px;
}

.fond-formulaire {
    background-color: var(--couleur-classique--2);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #B9B5C2;
}

.arbres {
    height: 32vh;
}

.arbre {
    height: 26vh;
}

.pointeur {
    height: 7vh;
}

.form-check-input {
    background-color: white;
    border-color: white
}

/* Style interface utilisateur */

.interface-utilisateur {
    background-color: var(--couleur-classique--1);
}

#menu {
    padding-right: 0;
    padding-left: 0;
}

.logo {
    height: 10vh;
}

.piaf {
    height: 6vh;

}

.separation {
    background-color: var(--couleur-classique--2);
    height: 3vh;
}

.sol-inter {
    background-color: var(--couleur-classique-3);
    height: 1.5vh;
}

#icone-mode {
    height: 3vh;
    padding-right: 2.5vh;
}

#container-reglages {
    padding-right: 0;
    padding-left: 0;
}

#param {
    padding-top: 3vh;
}

#mode-inter {
    padding-bottom: 6vh;
    padding-left: 2.5vh;
}

#logo-inter {
    padding-left: 4vh;
    padding-top: 1.5vh;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 50rem;
    background-color: var(--couleur--fond);
    padding: 3rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: column;
}


.workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
    width: 0;
}

.workout {
    background-color: var(--couleur-classique--1);
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
    box-shadow: 3px 3px 3px #B9B5C2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
}
.workout--running {
    border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
    border-left: 5px solid var(--color-brand--1);
}

.workout__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / -1;
}

.workout__details {
    display: flex;
    align-items: baseline;
}

.workout__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
}

.workout__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.workout__unit {
    font-size: 1.1rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
}

.form {
    background-color: var(--couleur-classique--1);
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    /* Match height and activity boxes */
    height: 9.25rem;
    transition: all 0.5s, transform 1ms;
}

.form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.form__row {
    display: flex;
    align-items: center;
}

.form__row--hidden {
    display: none;
}

.form__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}

.form__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
}

.form__input:focus {
    outline: none;
    background-color: #fff;
}

.form__btn {
    display: none;
}

.copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light--1);
}

/* MAP */
#map {
    flex: 1;
    height: 100%;
    background-color: var(--color-light--1);
}

.options {
    background-color: var(--couleur-classique--2);
    width: 8vh;
}

#racine {
    display: flex;
    width: 100%;
}

.engrenage{
    height: 4vh;
    margin-top: 12.5vh;
    margin-bottom: 2vh;
    margin-left: 2.3vh;
}

.logo {
    height: 9vh;
    align-self: center;
}

.fleche {
    height: 5vh;
    align-self: center;
}

#flexSwitchCheckDefault {
    width: 4vh;
    height: 1.8vh;
    margin-left: 0;
    margin-top: 1vh;
}

#icone-mode-inter {
    height: 3vh;
    margin-left: 2.9vh;
    margin-top: 1vh;
}

.oiseau {
    height: 7vh;
}













