:root {
    --blanc: #ffffff;
    --noir: #000000;

    --couleur--fond: #faf7f7;

    --couleur-classique--1: #2f6fc4;
    --couleur-classique--2: #ff914d;
    --couleur-classique-3: #6fc24b;

    --couleur-dark--1: #043474;
    --couleur-dark--2: #5994e1;
}

#formulaire_connexion {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
}

.titre {
    font-family: 'Nerko One', cursive;
    font-size: 7em;
    color: var(--couleur-classique--2);
}

.fond-bleu {
    background-color: var(--couleur-classique--1);
}

#container-image-accueil {
    padding-right: 0;
    padding-left: 0;
}

.sol {
    background-color: var(--couleur-classique-3);
    height: 7vh;
}

.btn-light {
    margin-top: 20px;
    margin-bottom: 20px;
}

#formulaire_connexion {
    padding-top: 90px;
    padding-bottom: 140px;
}

.fond-formulaire {
    background-color: var(--couleur-classique--2);
    border-radius: 15px;
}

.arbres {
    height: 32vh;
}

.arbre {
    height: 26vh;
}

.pointeur {
    height: 7vh;
}

.form-check-input {
    background-color: white;
    border-color: white
}









